pass
jupyter/migrated
cached_layouts

# Wallpaper
i3/wallpaper/**/*.jpg
i3/wallpaper/**/*.png
*.zip

# Yazi file manager
yazi/plugins
yazi/flavors

# fcitx5 - Chinese pinyin input
fcitx5/conf/*
!fcitx5/conf/keyboard.conf
!fcitx5/conf/unicode.conf

# Claude code
claude/*
!claude/settings.json
!claude/statusline-command.sh

# Ignore all ipython stuff except the startup scripts
ipython/profile_default/*
!ipython/profile_default/startup
