pass
i3/wallpaper/**/*.jpg
i3/wallpaper/**/*.png
*.zip
jupyter/migrated
cached_layouts
yazi/plugins
yazi/flavors

# Ignore all ipython stuff except the startup scripts
ipython/profile_default/*
!ipython/profile_default/startup
